@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* body {

}
p {
    
}

.class {

} */

body div.stApp {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

div.stButton > button {
    background-color: #2abcff;
    color: #1f1f1f;
    border: none;
    padding: 25px;
    transition: all 0.5s;
}

div.stButton > button:hover {
    background-color: #75d4ff;
    color: #2a2a2a;
    border-width: thin;
    border-color: black;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}