@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* body {

}
p {
    
}

.class {

} */

body div.stApp h1 {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: -5px 0 #3774b5, 0 5px #3774b5, 5px 0 #3774b5, 0 -5px #3774b5;
    color: #ffcd0b;
}

div.stButton > button {
    background-color: #2abcff;
    color: #1f1f1f;
    border: none;
    padding: 25px;
    transition: all 0.5s;
}

div.stButton > button:hover {
    background-color: #75d4ff;
    color: #2a2a2a;
    border-width: thin;
    border-color: black;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}